<a href="https://colab.research.google.com/github/Anuj2409/Loan-Fraud-Detection-problem/blob/master/XGB_NN_Home_Credit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

> **HOME CREDIT FRAUD DETECTION**


In this project, we take home credit defaulters data and try to predict the defaulters accurately using different machine learning algorithms. The data which I use here is highly imbalanced data with about only 9% defaulters. This makes difficult for the machine to identify the patterns and hence it is really difficult to get very high accuracy for such classifications.

There are 6 data files in total having different sort of loan application details like current financial information, demographic information, previous application information and so on. When we combine these data tables we get around 483 attributes for each application. But I saw that there were many columns which had upto 99.6% missing data which makes the analysis difficult. So we remove all the attributes which have more than 30% missing values.

Now that I had a smaller subset of the data, I ran XG Boost model to obtain most important features. This gave me 72 features which are used for creating the models.

In this notebook, I have focused on comparing the performance of Logistic Regression with a XGB model and a basic neural network classifier.



> **Loading libraries**

In [0]:
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.datasets import load_iris
from sklearn import tree
from sklearn.model_selection import cross_validate, KFold
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn import metrics
from sklearn.metrics import confusion_matrix, classification_report, roc_curve,auc
import matplotlib.pyplot as plt
from sklearn.svm import SVR
import numpy as np
import pandas as pd
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import LogisticRegression
pd.set_option('display.max_columns', None)



> **Loading the data from google drive**
* I have mounted my drive here before pulling the data from the drive

In [0]:
masterdf0 = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Master_Data_with_filtering_updated.csv')
masterdf_test0 = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Test_Master_Data_with_filtering_updated.csv')

I decided to take the variables shown in the following chunk of code because this is what I got from XGBoost variable importance

In [0]:
 selected_features = ['SK_ID_CURR','TARGET','EXT_SOURCE_3'
 ,'EXT_SOURCE_2'
 ,'NAME_CONTRACT_STATUS_Refused'
 ,'NAME_EDUCATION_TYPE_Higher education'
 ,'AMT_GOODS_PRICE_x'
 ,'NAME_INCOME_TYPE_Working'
 ,'NAME_INCOME_TYPE_Pensioner'
 ,'FLAG_DOCUMENT_3'
 ,'CODE_GENDER_F'
 ,'AMT_DOWN_PAYMENT'
 ,'DAYS_BIRTH'
 ,'MONTHS_BALANCE_MIN'
 ,'FLAG_OWN_CAR_N'
 ,'AMT_GOODS_PRICE_y'
 ,'NAME_PORTFOLIO_Cards'
 ,'NAME_YIELD_GROUP_high'
 ,'DAYS_EMPLOYED'
 ,'Active'
 ,'Revolving loans'
 ,'AVG_AMT_PAYMENT'
 ,'Consumer loans'
 ,'NAME_EDUCATION_TYPE_Secondary / secondary special'
 ,'AMT_ANNUITY_x'
 ,'AMT_CREDIT_x'
 ,'CODE_GENDER_M'
 ,'PREVIOUS_REJECTS'
 ,'DEF_30_CNT_SOCIAL_CIRCLE'
 ,'SK_ID_PREV'
 ,'DAYS_LAST_PHONE_CHANGE'
 ,'AMT_CREDIT_SUM_DEBT'
 ,'CNT_INSTALMENT'
 ,'REG_CITY_NOT_LIVE_CITY'
 ,'CREDIT_ACTIVE_C'
 ,'CNT_PAYMENT'
 ,'REGION_RATING_CLIENT_W_CITY'
 ,'AMT_CREDIT_SUM_OVERDUE'
 ,'DAYS_LAST_DUE_1ST_VERSION'
 ,'AVG_DAYS_ENTRY_PAYMENT'
 ,'DAYS_ID_PUBLISH'
 ,'CNT_INSTALMENT_FUTURE'
 ,'MONTHS_BALANCE'
 ,'DAYS_FIRST_DUE'
 ,'AMT_CREDIT_SUM'
 ,'DAYS_LAST_DUE'
 ,'NAME_PORTFOLIO_POS'
 ,'ID_PREV_NUM'
 ,'NAME_YIELD_GROUP_low_action'
 ,'SELLERPLACE_AREA'
 ,'AMT_INCOME_TOTAL'
 ,'DAYS_DECISION'
 ,'ORGANIZATION_TYPE_Self-employed'
 ,'CREDIT_ACTIVE_A'
 ,'NAME_CONTRACT_TYPE_Cash loans'
 ,'NAME_FAMILY_STATUS_Married'
 ,'AMT_APPLICATION'
 ,'AMT_ANNUITY_y.1'
 ,'STATUS_C'
 ,'NAME_YIELD_GROUP_middle'
 ,'DEF_60_CNT_SOCIAL_CIRCLE'
 ,'OBS_60_CNT_SOCIAL_CIRCLE'
 ,'AMT_CREDIT_MAX_OVERDUE'
 ,'AVG_DAYS_INSTALMENT'
 ,'REGION_POPULATION_RELATIVE'
 ,'NAME_EDUCATION_TYPE_Lower secondary'
 ,'STATUS_1'
 ,'CNT_INSTALMENT_FUTURE_MIN'
 ,'HOUR_APPR_PROCESS_START'
 ,'AMT_REQ_CREDIT_BUREAU_YEAR'
 ,'AMT_CREDIT_y'
 ,'WEEKDAY_APPR_PROCESS_START_TUESDAY'
 ,'Completed'
 ,'AVG_AMT_INSTALMENT']

 masterdf = masterdf0[selected_features]
 selected_features.pop(1)
 masterdf_test = masterdf_test0[selected_features]

In [0]:
masterdf.shape

(307511, 74)

In [0]:
masterdf_test.shape

(48744, 73)

One particular row has infinite income. Hence, I removed that application from the analysis.

In [0]:
masterdf = masterdf[masterdf['SK_ID_CURR'] != 333092]

In [0]:
masterdf_test.describe()

,SK_ID_CURR,EXT_SOURCE_3,EXT_SOURCE_2,NAME_CONTRACT_STATUS_Refused,NAME_EDUCATION_TYPE_Higher education,AMT_GOODS_PRICE_x,NAME_INCOME_TYPE_Working,NAME_INCOME_TYPE_Pensioner,FLAG_DOCUMENT_3,CODE_GENDER_F,AMT_DOWN_PAYMENT,DAYS_BIRTH,MONTHS_BALANCE_MIN,FLAG_OWN_CAR_N,AMT_GOODS_PRICE_y,NAME_PORTFOLIO_Cards,NAME_YIELD_GROUP_high,DAYS_EMPLOYED,Active,Revolving loans,AVG_AMT_PAYMENT,Consumer loans,NAME_EDUCATION_TYPE_Secondary / secondary special,AMT_ANNUITY_x,AMT_CREDIT_x,CODE_GENDER_M,PREVIOUS_REJECTS,DEF_30_CNT_SOCIAL_CIRCLE,SK_ID_PREV,DAYS_LAST_PHONE_CHANGE,AMT_CREDIT_SUM_DEBT,CNT_INSTALMENT,REG_CITY_NOT_LIVE_CITY,CREDIT_ACTIVE_C,CNT_PAYMENT,REGION_RATING_CLIENT_W_CITY,AMT_CREDIT_SUM_OVERDUE,DAYS_LAST_DUE_1ST_VERSION,AVG_DAYS_ENTRY_PAYMENT,DAYS_ID_PUBLISH,CNT_INSTALMENT_FUTURE,MONTHS_BALANCE,DAYS_FIRST_DUE,AMT_CREDIT_SUM,DAYS_LAST_DUE,NAME_PORTFOLIO_POS,ID_PREV_NUM,NAME_YIELD_GROUP_low_action,SELLERPLACE_AREA,AMT_INCOME_TOTAL,DAYS_DECISION,ORGANIZATION_TYPE_Self-employed,CREDIT_ACTIVE_A,NAME_CONTRACT_TYPE_Cash loans,NAME_FAMILY_STATUS_Married,AMT_APPLICATION,AMT_ANNUITY_y.1,STATUS_C,NAME_YIELD_GROUP_middle,DEF_60_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,AMT_CREDIT_MAX_OVERDUE,AVG_DAYS_INSTALMENT,REGION_POPULATION_RELATIVE,NAME_EDUCATION_TYPE_Lower secondary,STATUS_1,CNT_INSTALMENT_FUTURE_MIN,HOUR_APPR_PROCESS_START,AMT_REQ_CREDIT_BUREAU_YEAR,AMT_CREDIT_y,WEEKDAY_APPR_PROCESS_START_TUESDAY,Completed,AVG_AMT_INSTALMENT
count,48744.000000,40076.000000,48736.000000,48744.000000,48744.000000,4.874400e+04,48744.000000,48744.000000,48744.000000,48744.000000,4.874400e+04,48744.000000,47808.000000,48744.000000,47711.000000,48744.000000,48744.000000,48744.000000,47808.000000,47800.000000,47943.000000,47800.000000,48744.000000,48720.000000,4.874400e+04,48744.000000,47800.000000,48715.000000,47808.000000,48744.000000,4.228200e+04,47804.000000,48744.000000,42282.000000,47737.000000,48744.000000,4.228200e+04,47580.000000,47943.000000,48744.000000,47804.000000,47808.000000,47580.000000,4.228200e+04,47580.000000,48744.000000,47944.000000,48744.000000,47800.000000,4.874400e+04,47800.000000,48744.000000,42282.000000,48744.000000,48744.000000,47775.000000,47737.000000,42282.000000,48744.000000,48715.000000,48715.000000,42282.000000,47944.000000,48744.000000,48744.000000,42282.000000,47804.000000,48744.000000,42695.000000,4.780000e+04,48744.000000,47808.000000,47944.000000
mean,277796.676350,0.500106,0.518021,0.052027,0.256770,4.626188e+05,0.503303,0.190239,0.786620,0.670400,9.017133e+03,-16068.084605,-53.909680,0.662871,100.087369,0.097530,0.342791,67485.366322,27.872783,0.665188,20521.495938,2.173536,0.697276,29426.240209,5.167404e+05,0.329600,1.024121,0.143652,30.496632,-1077.766228,7.370926e+05,20.424944,0.077466,3.820254,14.549004,2.012596,1.491646e+02,32489.918104,-928.995532,-3051.712949,20.308175,-12.778656,13537.960295,2.222549e+06,78525.490985,0.571127,3.012014,0.090042,412.465520,1.784318e+05,-917.552281,0.121451,2.096661,0.990994,0.662297,97.429441,15410.840530,107.081973,0.280527,0.101139,1.435738,0.334729,-917.315481,0.021226,0.009745,1.760513,0.417413,12.007365,1.983769,1.719261e+05,0.200045,2.301100,19973.251539
std,103169.547296,0.189498,0.181278,0.222084,0.436856,3.367102e+05,0.499994,0.392494,0.409698,0.470073,2.083791e+04,4325.900393,30.148924,0.472734,14.312588,0.296681,0.474647,144348.507136,23.949533,1.107042,25933.206176,1.872098,0.459442,16016.368315,3.653970e+05,0.470073,1.979746,0.514413,25.850590,878.920740,1.680264e+06,13.663026,0.267332,3.707577,8.342980,0.515804,9.211520e+03,57816.783827,598.098073,1569.276709,13.713268,18.561101,41757.175969,4.539563e+06,102782.486005,0.494920,2.111285,0.286245,2409.429125,1.015226e+05,555.368217,0.326654,1.815826,0.094474,0.472932,16.850828,10573.344603,126.602440,0.449261,0.403791,3.580125,0.722379,599.201814,0.014428,0.098235,4.405363,2.182407,3.278172,1.838873,1.602918e+05,0.400038,3.338029,24179.897932
min,100001.000000,0.000527,0.000008,0.000000,0.000000,4.500000e+04,0.000000,0.000000,0.000000,0.000000,0.000000e+00,-25195.000000,-96.000000,0.000000,0.000000,0.000000,0.000000,-17463.000000,0.000000,0.000000,99.765000,0.000000,0.000000,2295.000000,4.500000e+04,0.000000,0.000000,0.000000,1.000000,-4361.000000,0.000000e+00,1.000000,0.000000,0.000000,0.000000,-1.000000,0.000000e+00,-2796.000000,-2922.000000,-6348.000000,0.000000,-95.000000,-2891.000000,0.000000e+00,-2850.000000,0.000000,1.000000,0.000000,-1.000000,2.694150e+04,-2921.000000,0.000000,0.000000,0.000000,0.000000,0.000000,885.780000,0.000000,0.000000,0.000000,0.000000,0.000000,-2922.000000,0.000253,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,104.443636
25%,188557.750000,0.363945,0.408066,0.000000,0.000000,2.250000e+05,0.000000,0.000000,1.000000,0.000000,0.000000e+00,-19637.000000,-85.000000,0.000000,93.327742,0.000000,0.000000,-2910.000000,11.000000,0.000000,8273.168191,1.000000,0.000000,17973.000000,2.606400e+05,0.000000,0.000000,0.000000,12.000000,-1766.250000,0.000000e+00,12.000000,0.000000,1.000000,9.000000,2.000000,0.000000e+00,-765.350000,-1313.095201,-4448.000000,12.000000,-15.000000,-1332.500000,3.692959e+05,-812.500000,0.000000,1.000000,0.000000,22.333333,1.125000e+05,-1202.000000,0.000000,1.000000,1.000000,0.000000,91.281936,8428.522500,17.000000,0.000000,0.000000,0.000000,0.000000,-1303.225542,0.010006,0.000000,0.000000,0.000000,10.000000,0.000000,7.093965e+04,0.000000,1.000000,8541.412866
50%,277549.000000,0.519097,0.558758,0.000000,0.000000,3.960000e+05,1.000000,0.000000,1.000000,1.000000,4.500000e+03,-15785.000000,-53.000000,1.000000,98.133481,0.000000,0.000000,-1293.000000,21.000000,0.000000,13489.159091,2.000000,1.000000,26199.000000,4.500000e+05,0.000000,0.000000,0.000000,23.000000,-863.000000,2.076165e+05,12.000000,0.000000,3.000000,12.000000,2.000000,0.000000e+00,-189.100000,-801.833333,-3234.000000,12.000000,-5.000000,-820.000000,1.092335e+06,-15.000000,1.000000,2.000000,0.000000,79.000000,1.575000e+05,-784.000000,0.000000,2.000000,1.000000,1.000000,97.066848,12796.830000,66.000000,0.000000,0.000000,0.000000,0.000000,-789.955556,0.018850,0.000000,0.000000,0.000000,12.000000,2.000000,1.220796e+05,0.000000,2.000000,13735.345714
75%,367555.500000,0.652897,0.658497,0.000000,1.000000,6.300000e+05,1.000000,0.000000,1.000000,1.000000,1.121850e+04,-12496.000000,-25.000000,1.000000,103.193849,0.000000,1.000000,-296.000000,37.000000,1.000000,23475.929748,3.000000,1.000000,37390.500000,6.750000e+05,1.000000,1.000000,0.000000,40.000000,-363.000000,7.901389e+05,24.000000,0.000000,5.000000,18.000000,2.000000,0.000000e+00,60389.208335,-445.985714,-1706.000000,24.000000,-2.000000,-405.000000,2.657656e+06,121523.000000,1.000000,4.000000,0.000000,350.000000,2.250000e+05,-499.312500,0.000000,3.000000,1.000000,1.000000,102.439592,19399.446000,153.000000,1.000000,0.000000,2.000000,0.000000,-432.098772,0.028663,0.000000,2.000000,0.000000,14.000000,3.000000,2.183662e+05,0.000000,3.000000,23251.799893
max,456250.000000,0.882530,0.855000,1.000000,1.000000,2.245500e+06,1.000000,1.000000,1.000000,1.000000,1.188000e+06,-7338.000000,-1.000000,1.000000,1000.000000,1.000000,1.000000,365243.000000,230.000000,23.000000,946490.062500,48.000000,1.000000,180576.000000,2.245500e+06,1.000000,64.000000,34.000000,247.000000,0.000000,6.544140e+07,92.000000,1.000000,66.000000,60.000000,3.000000,1.332472e+06,365243.000000,-5.000000,0.000000,85.000000,-1.000000,365243.000000,6.091645e+08,365243.000000,1.000000,21.000000,1.000000,250000.000000,4.410000e+06,-5.000000,1.000000,19.000000,1.000000,1.000000,1000.000000,235874.970000,1928.000000,1.000000,24.000000,351.000000,9.000000,-5.000000,0.072508,1.000000,104.000000,52.000000,23.000000,17.000000,3.524220e+06,1.000000,86.000000,946490.062500



> Imputing the missing data

In [0]:
for col in masterdf.columns:
    masterdf[col] = masterdf[col].fillna(masterdf[col].median())

In [0]:
for col in masterdf_test.columns:
    masterdf_test[col] = masterdf_test[col].fillna(masterdf_test[col].median())

In [0]:
a = pd.DataFrame(masterdf.isna().sum())
a[a[0] > 0].sort_values(by = 0, ascending = False)

Empty DataFrame
Columns: [0]
Index: []

In [0]:
a = pd.DataFrame(masterdf_test.isna().sum())
a[a[0] > 0].sort_values(by = 0, ascending = False)

Empty DataFrame
Columns: [0]
Index: []



> Feature engineering

After exploring the data, I felt that there was a need of defining more variables to describe the loan application. Hence, I created 4 additional variables.

1.   Credit Income percentage - The ratio of credit amount to total income
2.   Annuity Income percentage - The ratio of annuity amount to total income
3.   Credit term - The term for the credit amount. Ratio of annuity amount to credit amount
4.   Percentage of days employeed - Percentage of days applicant is employeed in his life. Ratio of days employeed to days from his birth

In [0]:
masterdf['CREDIT_INCOME_PERCENT'] = masterdf['AMT_CREDIT_x'] /masterdf['AMT_INCOME_TOTAL']
masterdf['ANNUITY_INCOME_PERCENT'] = masterdf['AMT_ANNUITY_x'] /masterdf['AMT_INCOME_TOTAL']
masterdf['CREDIT_TERM'] = masterdf['AMT_ANNUITY_x'] /masterdf['AMT_CREDIT_x']
masterdf['DAYS_EMPLOYED_PERCENT'] = masterdf['DAYS_EMPLOYED'] /masterdf['DAYS_BIRTH']

In [0]:
masterdf_test['CREDIT_INCOME_PERCENT'] =masterdf_test['AMT_CREDIT_x'] /masterdf_test['AMT_INCOME_TOTAL']
masterdf_test['ANNUITY_INCOME_PERCENT'] =masterdf_test['AMT_ANNUITY_x'] /masterdf_test['AMT_INCOME_TOTAL']
masterdf_test['CREDIT_TERM'] =masterdf_test['AMT_ANNUITY_x'] /masterdf_test['AMT_CREDIT_x']
masterdf_test['DAYS_EMPLOYED_PERCENT'] =masterdf_test['DAYS_EMPLOYED'] /masterdf_test['DAYS_BIRTH']

In [0]:
masterdf_test = masterdf_test.set_index('SK_ID_CURR')

In [0]:
masterdf1 = masterdf[masterdf['TARGET'] == 1]
masterdf0 = masterdf[masterdf['TARGET'] == 0]

In [0]:
masterdf01, masterdf02 = train_test_split(masterdf0, test_size=0.2,random_state=45)

In [0]:
masterdf_ds = pd.concat([masterdf01, masterdf1], axis = 0)

In [0]:
X = masterdf_ds.iloc[:, 2:354]
y = masterdf_ds.iloc[:, 1:2]

In [0]:
masterdf_test.shape

(48744, 76)



> Split the data into test and train for the analysis

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20,random_state=45)



> Normalize data using standard scaler

In [0]:
scaler = StandardScaler()
scaler.fit(X_train)

X_train_norm = scaler.transform(X_train)
X_test_norm = scaler.transform(X_test)
masterdf_test_norm = scaler.transform(masterdf_test)



> Changing the dimensions of the attributes to deal with the correlation within attributes retaining the maximum information.

In [0]:
from sklearn.decomposition import PCA
pca = PCA(n_components=76)
pca.fit(X_train_norm)
X_train_red = pca.transform(X_train_norm)
X_test_red = pca.transform(X_test_norm)
masterdf_test_red = pca.transform(masterdf_test_norm)

In [0]:
X_train_red = pd.DataFrame(X_train_red)
X_test_red = pd.DataFrame(X_test_red)
masterdf_test_red = pd.DataFrame(masterdf_test_red)

Logistic Regression

In [0]:
param_lr = dict(C= list((1e-4, 1e-3, 1e-2, 1e-1, 1)), penalty= ['l1', 'l2'])

lr_score = []
i = 42
lr = LogisticRegression(class_weight = {1:5, 0:1})

grid_lr = RandomizedSearchCV(lr, param_lr, cv = KFold(n_splits=3, shuffle=True, random_state=i), scoring = 'roc_auc')

grid_lr.fit(X_train_red, y_train)
lr_score.append(grid_lr.best_score_)

In [0]:
y_pred = grid_lr.predict(X_test_red)
y_pred2 = grid_lr.predict_proba(X_test_red)

In [0]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.94      0.91      0.93     56561
           1       0.25      0.33      0.29      4941

   micro avg       0.87      0.87      0.87     61502
   macro avg       0.59      0.62      0.61     61502
weighted avg       0.88      0.87      0.87     61502

In [0]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test, y_pred2)

0.7436493359571911

XGBOOST

In [0]:
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score
from sklearn.model_selection import GridSearchCV

params = {'n_estimators':[250,500,750],'learning_rate':[0.001,0.01,0.1],'max_depth':[1,2,3,4,5,6]}

xgb2 = XGBClassifier(objective='binary:logistic',random_state=42,tree_method='gpu_hist')
clf = GridSearchCV(xgb2,params,cv=3,scoring='roc_auc')
clf.fit(X_train_red, y_train)

In [0]:
clf.best_params_

In [0]:
clf.best_score_

0.7603067415531021

In [0]:
auc2 = roc_auc_score(y_test, clf.predict(X_test_red))
print("xgb2 auc: %.4f" % auc2)

xgb2 auc: 0.5136

In [0]:
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score
from sklearn.model_selection import GridSearchCV

In [0]:
xgb_tuned = XGBClassifier(objective='binary:logistic',random_state=42,tree_method='gpu_hist',n_estimators=750,learning_rate=0.1,max_depth=3)
xgb_tuned.fit(X_train_red, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=750, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=42,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, tree_method='gpu_hist', verbosity=1)

In [0]:
predicted = xgb_tuned.predict(masterdf_test_red)

In [0]:
y_pred_rf = xgb_tuned.predict(X_test_red)
y_pred2_rf = xgb_tuned.predict_proba(X_test_red)

print(confusion_matrix(y_pred_rf, y_test))

print(classification_report(y_test, y_pred_rf))
y_pred2_rf = y_pred2_rf[:,1]
from sklearn.metrics import roc_auc_score
print(roc_auc_score(y_test, y_pred2_rf))

[[45113  4668]
 [  202   212]]
              precision    recall  f1-score   support

           0       0.91      1.00      0.95     45315
           1       0.51      0.04      0.08      4880

    accuracy                           0.90     50195
   macro avg       0.71      0.52      0.51     50195
weighted avg       0.87      0.90      0.86     50195

0.7625945498993385

In [0]:
predictions = pd.DataFrame(columns=['SK_ID_CURR', 'TARGET'])

In [0]:
predictions['SK_ID_CURR'] = masterdf_test0['SK_ID_CURR']

In [0]:
predictions['TARGET'] = predicted.tolist()

Neural Network

In [0]:
import pandas as pd
import numpy as np
import math
from sklearn.model_selection import cross_val_score, train_test_split
from keras.layers import Dense
from keras.models import Sequential
from keras.optimizers import RMSprop, Adadelta, Adam
from keras import regularizers
from keras import losses
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt

Using TensorFlow backend.

In [0]:
y_train_Dummies = pd.get_dummies(y_train['TARGET'])

In [0]:
y_train_Dummies.head()

        0  1
279946  1  0
204052  0  1
110616  1  0
98521   1  0
247889  1  0

In [0]:
from keras import losses
from keras.layers import Dropout
model = Sequential()
model.add(Dense(60, input_dim=X_train_red.shape[1], activation='relu',kernel_regularizer=regularizers.l2(1)))
model.add(Dropout(0.3))
model.add(Dense(30, activation='relu'))
model.add(Dropout(0.3))
model.add(Dense(10, activation='relu'))
model.add(Dropout(0.3))
model.add(Dense(2, activation='sigmoid'))
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
model.fit(X_train_red, y_train_Dummies, epochs=100, batch_size=10000,  verbose=1)

Epoch 1/100
200778/200778 [==============================] - 1s 6us/step - loss: 442.8483 - acc: 0.5468
Epoch 2/100
200778/200778 [==============================] - 0s 2us/step - loss: 355.7884 - acc: 0.7977
Epoch 3/100
200778/200778 [==============================] - 0s 2us/step - loss: 277.2973 - acc: 0.8815
Epoch 4/100
200778/200778 [==============================] - 0s 2us/step - loss: 208.7040 - acc: 0.8954
Epoch 5/100
200778/200778 [==============================] - 0s 2us/step - loss: 150.1174 - acc: 0.8984
Epoch 6/100
200778/200778 [==============================] - 0s 2us/step - loss: 101.4803 - acc: 0.8996
Epoch 7/100
200778/200778 [==============================] - 0s 2us/step - loss: 62.2178 - acc: 0.9000
Epoch 8/100
200778/200778 [==============================] - 0s 2us/step - loss: 32.7628 - acc: 0.9004
Epoch 9/100
200778/200778 [==============================] - 0s 2us/step - loss: 13.1563 - acc: 0.9004
Epoch 10/100
200778/200778 [==============================] - 0s 2us/step - loss: 3.4068 - acc: 0.9005
Epoch 11/100
200778/200778 [==============================] - 0s 2us/step - loss: 1.4075 - acc: 0.9005
Epoch 12/100
200778/200778 [==============================] - 0s 2us/step - loss: 1.0149 - acc: 0.9005
Epoch 13/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.9405 - acc: 0.9006
Epoch 14/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.9239 - acc: 0.9005
Epoch 15/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.9203 - acc: 0.9006
Epoch 16/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.9110 - acc: 0.9006
Epoch 17/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.9094 - acc: 0.9006
Epoch 18/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.9041 - acc: 0.9006
Epoch 19/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.9037 - acc: 0.9006
Epoch 20/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.9002 - acc: 0.9006
Epoch 21/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8973 - acc: 0.9006
Epoch 22/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8960 - acc: 0.9007
Epoch 23/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8947 - acc: 0.9006
Epoch 24/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8954 - acc: 0.9006
Epoch 25/100
200778/200778 [==============================] - 0s 1us/step - loss: 0.8943 - acc: 0.9007
Epoch 26/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8910 - acc: 0.9007
Epoch 27/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8900 - acc: 0.9007
Epoch 28/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8860 - acc: 0.9007
Epoch 29/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8819 - acc: 0.9007
Epoch 30/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8850 - acc: 0.9007
Epoch 31/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8851 - acc: 0.9007
Epoch 32/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8837 - acc: 0.9007
Epoch 33/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8841 - acc: 0.9007
Epoch 34/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8819 - acc: 0.9007
Epoch 35/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8828 - acc: 0.9007
Epoch 36/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8801 - acc: 0.9007
Epoch 37/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8784 - acc: 0.9007
Epoch 38/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8795 - acc: 0.9007
Epoch 39/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8803 - acc: 0.9007
Epoch 40/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8811 - acc: 0.9007
Epoch 41/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8782 - acc: 0.9007
Epoch 42/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8790 - acc: 0.9007
Epoch 43/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8758 - acc: 0.9007
Epoch 44/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8785 - acc: 0.9007
Epoch 45/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8752 - acc: 0.9007
Epoch 46/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8731 - acc: 0.9007
Epoch 47/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8778 - acc: 0.9007
Epoch 48/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8810 - acc: 0.9007
Epoch 49/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8748 - acc: 0.9007
Epoch 50/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8725 - acc: 0.9007
Epoch 51/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8734 - acc: 0.9007
Epoch 52/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8698 - acc: 0.9007
Epoch 53/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8711 - acc: 0.9007
Epoch 54/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8707 - acc: 0.9007
Epoch 55/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8731 - acc: 0.9007
Epoch 56/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8668 - acc: 0.9007
Epoch 57/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8665 - acc: 0.9007
Epoch 58/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8661 - acc: 0.9007
Epoch 59/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8645 - acc: 0.9007
Epoch 60/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8649 - acc: 0.9007
Epoch 61/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8643 - acc: 0.9007
Epoch 62/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8639 - acc: 0.9007
Epoch 63/100
200778/200778 [==============================] - 0s 1us/step - loss: 0.8640 - acc: 0.9007
Epoch 64/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8644 - acc: 0.9007
Epoch 65/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8611 - acc: 0.9007
Epoch 66/100
200778/200778 [==============================] - 0s 1us/step - loss: 0.8639 - acc: 0.9007
Epoch 67/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8618 - acc: 0.9007
Epoch 68/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8595 - acc: 0.9007
Epoch 69/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8589 - acc: 0.9007
Epoch 70/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8639 - acc: 0.9007
Epoch 71/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8567 - acc: 0.9007
Epoch 72/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8559 - acc: 0.9007
Epoch 73/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8522 - acc: 0.9007
Epoch 74/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8539 - acc: 0.9007
Epoch 75/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8539 - acc: 0.9007
Epoch 76/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8547 - acc: 0.9007
Epoch 77/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8518 - acc: 0.9007
Epoch 78/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8549 - acc: 0.9007
Epoch 79/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8543 - acc: 0.9007
Epoch 80/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8496 - acc: 0.9007
Epoch 81/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8504 - acc: 0.9007
Epoch 82/100
200778/200778 [==============================] - 0s 1us/step - loss: 0.8511 - acc: 0.9007
Epoch 83/100
200778/200778 [==============================] - 0s 1us/step - loss: 0.8484 - acc: 0.9007
Epoch 84/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8486 - acc: 0.9007
Epoch 85/100
200778/200778 [==============================] - 0s 1us/step - loss: 0.8459 - acc: 0.9007
Epoch 86/100
200778/200778 [==============================] - 0s 1us/step - loss: 0.8481 - acc: 0.9007
Epoch 87/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8483 - acc: 0.9007
Epoch 88/100
200778/200778 [==============================] - 0s 1us/step - loss: 0.8479 - acc: 0.9007
Epoch 89/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8470 - acc: 0.9007
Epoch 90/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8464 - acc: 0.9007
Epoch 91/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8460 - acc: 0.9007
Epoch 92/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8480 - acc: 0.9007
Epoch 93/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8444 - acc: 0.9007
Epoch 94/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8470 - acc: 0.9007
Epoch 95/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8450 - acc: 0.9007
Epoch 96/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8434 - acc: 0.9007
Epoch 97/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8427 - acc: 0.9007
Epoch 98/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8432 - acc: 0.9007
Epoch 99/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8462 - acc: 0.9007
Epoch 100/100
200778/200778 [==============================] - 0s 2us/step - loss: 0.8424 - acc: 0.9007

In [0]:
y_pred = model.predict(masterdf_test_red)
y_pred
# print('Mean Absolute Error:', metrics.mean_absolute_error(Ytest, y_pred))
# print('Mean Squared Error:', metrics.mean_squared_error(Ytest, y_pred))
# print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(Ytest, y_pred)))

array([[0.88958496, 0.11102748],
       [0.8895376 , 0.11107826],
       [0.889524  , 0.1110929 ],
       ...,
       [0.88950026, 0.11111808],
       [0.8895595 , 0.11105481],
       [0.88951015, 0.11110747]], dtype=float32)

In [0]:
y_pred[:,1]

array([0.11102748, 0.11107826, 0.1110929 , ..., 0.11111808, 0.11105481,
       0.11110747], dtype=float32)

In [0]:
prediction_nn = pd.DataFrame(columns=['SK_ID_CURR', 'TARGET'])

In [0]:
prediction_nn['SK_ID_CURR'] = masterdf_test0['SK_ID_CURR']

In [0]:
prediction_nn['TARGET'] = y_pred[:,1].tolist()